/* CARD : divided by section
HEBERGEMENT A MARSEILLE : card + container for the section "Hébergements à Marseille" 
HEBERGEMENT POPULAR (sponsored): It's the section class, the container of the hebergement section 
ACTIVITES A MARSEILLE : card + container for the section "Activité à Marseille"  */

/***********************************************************
COMMON CONTENT FOR CARD
***********************************************************/
/* following refactoring, container for section */
.cards-container-hebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 30px;
}

.cards-container-hebergement>a {
    flex-grow: 1;
    width: 30%; 
}

.cards-container-sponsored {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 30px;
}
.cards-container-sponsored>a {
    flex-grow: 1;
}


/* following refactoring : card common points */
.card {
    border-radius: 20px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    transition: 0.3s;
    display: flex; 
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img {
    object-fit: cover;
    outline: 4px solid #FFF;
    outline-offset: -4px;
}
/* Nuit à partir de*/ 
.card-price {
    font-size: 14px; 
    font-weight: 400; 
    line-height: 1.6;    
}
.card-price::after {
    content: "Nuit à partir de ";
}
/* euro symbol for the span euro */
.euro::after {
    content: "€";
    font-weight: 700;
}
/* stars note, default definied in the .fa-solid of the ./css/style.css file, as the main-color */
.neutral-star {
    color: var(--main-bg-color);
}

/***********************************************************
Hebergements And Populaires Box Div
***********************************************************/
/* Div for both the section : hebergement à Marseille and the Popular/Sponsored section */
.hebergements-and-sponsored__container {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-sponsored__container section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/***********************************************************
SECTION /HEBERGEMENT A MARSEILLE
***********************************************************/
/****** section > container/box > elements ***********/
/* It's the section class, the container of the hebergement section */
.hebergement-section-class {
    width: 65%;
}

/* cards */
/* style pour l'article (box) hebergement card */
a>.hebergement-card {
    height: 207.25px;
    display: flex;
    flex: 1;    
    flex-direction: column;
}
.hebergement-img {  
    aspect-ratio: 2 / 1;
    height: 60%;
    border-radius: 20px 20px 0 0;
}
.hebergement-card__description {
    height: 40%;
    padding: 2px 16px;   
    line-height: 1.5;
}

.hebergement-card__description h3 {
    margin: 0;
}
/* afficher plus, id spéciale */
#hebergements-plus {
    padding-top: 20px;
}

/***********************************************************
SECTION /SPONSORED/POPULAIRES 
***********************************************************/
/* box for the sponsored section */
.sponsored-section-class {
    width: 32%;
}

.sponsored-title {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

/* cards */
.sponsored-cards {
    flex-direction: row;
    height: 146px;
}

.sponsored-cards-img {
    aspect-ratio: 6 / 7;
    height: inherit;
    border-radius: 20px 0px 0px 20px;
}

.sponsored-card-content {
    width: 67%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sponsored-card-content h3 {
    margin: 0;
}

/***********************************************************
ACTIVITE A MARSEILLE
***********************************************************/
#activite {
    margin-top: 50px;
}
.activite-marseille-section {
    width: clamp(280px, 100%, 1440px);
}

.activite-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 30px;
}

/* individual card for the activité à Marseille section */
.activite-container>a {
    flex-grow: 1; 
    aspect-ratio: 3 / 4;
    width: 20%;
}

.activite-card {
    flex-direction: column;
    overflow: hidden;
}
.activite-img {
    aspect-ratio: 3 / 4 ;
    border-radius: 20px 20px 0 0;
    outline: unset;
    outline-offset: unset;
}
.activite-card__description {
    padding: 0px 10px 0px 20px;
    display: flex; 
    height: 75px;
    align-items: center ;
}