/* CARD : divided by section
HEBERGEMENT A MARSEILLE : card + container for the section "Hébergements à Marseille" 
HEBERGEMENT POPULAR (sponsored): It's the section class, the container of the hebergement section 
ACTIVITES A MARSEILLE : card + container for the section "Activité à Marseille"  */

/***********************************************************
COMMON CONTENT FOR CARD
 ***********************************************************/
 /* following refactoring, container for section */
 .cards-container {
    display:flex;
    flex-wrap: wrap;
 }

 /* following refactoring : card common points */
 .card {
    border-radius: 20px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
 }
 .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }

 .card-img {
    object-fit: cover;
 }
 /* euro symbol for the span euro */
.euro::after {
    content: "€";
    font-weight: 700;
}
/* stars note, default definied in the .fa-solid of the ./css/style.css file, as the main-color */
.neutral-star {
    color: var(--main-bg-color);
}

/***********************************************************
Hebergements And Populaires Box Div
 ***********************************************************/
 /* Div for both the section : hebergement à Marseille and the Popular/Sponsored section */
.hebergements-and-sponsored__container {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-sponsored__container section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/***********************************************************
SECTION /HEBERGEMENT A MARSEILLE
 ***********************************************************/
 /****** section > container/box > elements ***********/
/* It's the section class, the container of the hebergement section */
.hebergement-section-class {
    width: 65%;
}
 /* box pour la section hébergement à Marseille, without the "Afficher plus" and title of the section */
 .hebergement-section-box{
    justify-content: space-between;
    align-items: unset;
    gap: 40px 0px;
 }

 /* cards */
 /* style pour l'article (box) hebergement card */
.hebergement-card {
    transition: 0.3s;
    width: 250px;
    height: 207px; 
}
.hebergement-img {
    width: inherit; 
    height: 60%;
    outline: 4px solid #FFF;
    outline-offset: -4px;
    border-radius: 20px 20px 0 0;
}
.hebergement-card__description {
    padding: 2px 16px;   
    line-height: 1.8;
}

.hebergement-card__description h3 {
    margin: 0;
 
}

/***********************************************************
SECTION /SPONSORED/POPULAIRES 
 ***********************************************************/
 /* box for the sponsored section */
 .sponsored-section-class {
    width: 32%;
}
/* box(parents) for the card(elements) without the title elements */
.sponsored-cards-box {
    margin-top: 33px;
    gap: 30px;
}
.sponsored-title {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

/* cards */
 .sponsored-cards {
    background-color: white;
    padding: 5px;
    display: flex; 
    flex-direction: row;
    width: 369px;
}

.sponsored-cards-img {
    height: 136px;
    width: 123px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.sponsored-card-content {
    /* width: 67%; */
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.sponsored-card-title h3 {
    margin-top: 10px;
    margin-bottom: 4px;
}

.sponsored-card-subtitle h3 {
    margin: 0;
}

.sponsored-card-rating {
    margin-bottom: 5px;
}

/***********************************************************
 ACTIVITE A MARSEILLE
 ***********************************************************/
.activite-marseille-section {
    min-width: 280px;
    max-width: 1440px;
    padding: 30px;
}
.activite-container{
    display: grid; 
    grid-template-rows: 1fr;    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
 }
 /* individual card for the activité à Marseille section */
.activite-card {
    transition: 0.3s;
    width: 297px;
    min-width: 320px;
    height: 439px; 
    padding: 5px 0px 15px 0px;
}
.activite-img {
    width: inherit; 
    height: 380px;
    border-radius: 20px 20px 0 0;
    margin: auto; 
    left: 5px;
}