
/* Le code ci-dessous correspond à la version responsive uniquement */
/***********************************************************
MEDIA QUERIES
**Media Queries : Medium devices (tablets, less/equal than 1024px); 
**Media Queries : Small devices (phones, less than 768px)(
 ***********************************************************/
 /***********************************************************
MEDIUM DEVICES 
 ***********************************************************/
 @media (max-width: 1024px) {
    /***********************************************************
    MAIN CONTAINER 
    ***********************************************************/
    .main-container:not(header) {
        width: 100%;
        min-width: 768px;
        max-width: 1024px;
        padding: 0px 50px;
    }
    /***********************************************************
    HEADER, NAV, FOOTER   
    ***********************************************************/
    header {
        max-width: 1024px;
        min-width: 768px;
    }   
    footer {
        max-width: 1024px;
        min-width: 768px;
    }
    /***********************************************************
    INFO GROUP : RESEARCH BAR, FILTERS, INFO   
    ***********************************************************/
    /****** Search bar ***********/
    #searchBar__submit-btn-phone {
        display: none;
    }
 
    /******FILTERS & FILTER BUTTONS***********/ 
    /* box/div contenant les éléments de la barre de filtres de recherches  */
    .filter-box {
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .filter-btn {
        margin-right: 10px;
    }
    /* bouton de la barre de filtre */
    .filter-phone {
        width: 100%; 
        display: block;
    }
    #desktop-title {
        display: none;
    }
    /******INFO LINE***********/
    .filter-phone {
        display: inline;
        margin-bottom: -30px;
        gap: 0;
        font-weight: 700;
    }
    /***********************************************************
    Common content for card
    ***********************************************************/
    .cards-container {
        justify-content: space-evenly;
    }
    /***********************************************************
    Hebergements And Populaires Box Div
    ***********************************************************/
    /* Div for both the section : hebergement à Marseille and the Popular/Sponsored section */
    .hebergements-and-sponsored__container {
        flex-direction: column;
        width: 100%;
        margin: 0;
        border-radius: 0px;
        position: relative;
    }
    
    .hebergements-and-sponsored__container section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        margin: 0px 0px 50px 0px;
        box-sizing: border-box;
    }
    /***********************************************************
    SECTION /HEBERGEMENT A MARSEILLE
    ***********************************************************/
    /****** section > container/box > elements ***********/
    /* It's the section class, the container of the hebergement section */
    .hebergement-section-class {
        width: 100%;
    }
    /* box pour la section hébergement à Marseille, without the "Afficher plus" and title of the section */
    .hebergement-section__container {
        justify-content: space-evenly;
        flex-direction: row;
        align-items: unset;
        gap: 20px 0px;
    }
    .hebergement-card {
        width: 250px;
    }
    .hebergement-img {
        width: 100%;
    }
    /***********************************************************
    SECTION /SPONSORED/POPULAIRES 
    ***********************************************************/
    /* box for the sponsored section */
    .sponsored-section-class {
        width: 100%;
        padding: 30px 20px 50px 20px;
    }
    .sponsored-cards-box {
        gap: 20px;
    }

    /* cards */
    .sponsored-cards {
        width: 250px;
        height: 140px;
    }
    /***********************************************************
    ACTIVITE A MARSEILLE
    ***********************************************************/
    .activite-marseille-section {
        min-width: 768px;
        max-width: 1024px;
        width: 100%;
        padding: 30px;
        display: flex; 
        flex-wrap: wrap;
    }
    .activite-container{
        display: flex; 
        flex-direction: row;
        justify-content: flex-start ;
    }
     /* individual card for the activité à Marseille section */
    .activite-card {
        width: 193px;
        height: 270px;
        flex-direction: column; 
    }
    .activite-img {
        width: inherit; 
        height: 200px;
    }
    .activite-card__description {
        padding: 0px 10px 0px 10px;
    }
    /***********************************************************
    FOOTER 
    ***********************************************************/
    .footer-container {
        width: 100%;
        min-width: 768px;
        max-width: 1024px;
      }

}