
/* Le code ci-dessous correspond à la version responsive uniquement */
/***********************************************************
MEDIA QUERIES
**Media Queries : Small devices (phones, less than 768px)
 ***********************************************************/
 /***********************************************************
MEDIUM DEVICES  : see the file "~/css/media1024px.css" for the tablet format media queries. 
 ***********************************************************/
/***********************************************************
SMALL DEVICES (PHONES, LESS THAN 768px)
 ***********************************************************/
@media (max-width: 767.98px) {
    /***** MAIN CONTAINER (header, main, footer) */
    .main-container:not(header) {
        padding: 0px 15px;
    }
    /***** HEADER, NAV, FOOTER */
    header {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
    nav {
        width:100%;
        position: relative;
        left: -15px;
    }
    /******STYLE FOR HEADER ***********/
    .header__logo {
        margin: auto;
    }
    .navBar {
        height: 36px;
        display: flex;
        justify-content : space-evenly;
        flex-direction: row;
    }
    .navBar__btn {
        height: 33px;
        width: 50%;
        top: 0;
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding-bottom: 15px;
        align-items: center;
        background-color: transparent;
        border-bottom: 3px solid var(--light-brown);
    }
    .navBar__btn:hover {
        color: var(--main-color);
        border-bottom: 3px solid var(--main-color); 
        border-top: none;
        transition: .1s;
    }
    .navBar__btn:active {
        color: var(--main-color); 
        border-bottom: 3px solid var(--main-color); 
        border-top: none;
    }
    /***********************************************************
    INFO GROUP : RESEARCH BAR, FILTERS, INFO   
    ***********************************************************/
    .section-container__info {
        display: flex;
        flex-direction: column;
        gap: 20px;  
    }
    .info__searchBar {
        display: inline-flex;
        flex-direction: row;
        box-sizing: border-box;
        width: 335px;
        justify-content: flex-start;
        align-items: center;
    }
    input#searchBar__text {
        display: inline-flex;
        width: 60%;
    }
    #searchBar__submit-btn {
        display: none;
    }
    #searchBar__submit-btn-phone { 
        height: 54px;
        width: 54px;
        margin: 0;
        padding: 0;
        display: inline-block;
        background-color: #0065FC;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px #00000040;
        cursor: pointer;
        /* text-align: center; */
    }   
    #magnifying-glass {
        color: white;
        font-size: 17px;
    }
 
        /******FILTERS & FILTER BUTTONS***********/ 
    /* box/div contenant les éléments de la barre de filtres de recherches  */
    .filter-box {
        display: inline-flex;
        height: auto;
        box-sizing: border-box;
        flex-wrap: wrap;
    }
    .filter-phone {
        display: block;
    }
    #desktop-title {
        display: none;
    }
    /* bouton de la barre de filtre */
    .filter-btn {
        padding: 4px 10px 4px 10px;
        font-size: 14px;
        width: 45%;
        margin-bottom: 15px;
    }
    /***********************************************************
    Hebergements And Populaires Box Div
    ***********************************************************/
    /* Div for both the section : hebergement à Marseille and the Popular/Sponsored section */
    .hebergements-and-sponsored__container {
        display: flex;
        flex-direction: column;
        width: auto;
        left: -15px;
        right: -15px;
        border-radius: 0px;
        position: relative;
    }

    .hebergements-and-sponsored__container section {
        display: flex;
        flex-direction: column;
        width: auto;
        border-radius: 0px;
    }
    /***********************************************************
    SECTION /HEBERGEMENT A MARSEILLE
    ***********************************************************/
    /****** section > container/box > elements ***********/
    /* It's the section class, the container of the hebergement section */
    .hebergement-section-container {
        width: 100%;
        order: 2;
    }

    /* cards */
    /* style pour l'article (box) hebergement card */
    .hebergement-card {
        width: 100%;
    }
    .hebergement-img {
        width: 100%;
    }
    /***********************************************************
    SECTION /SPONSORED/POPULAIRES 
    ***********************************************************/
    /* box for the sponsored section */
    .sponsored-section-class {
        width: 100%;
        order: 1;
    }
    #sponsored-section-box {
        background-color: var(--main-bg-color);
    }

    /* cards */
    .sponsored-cards {
        width: 100%;
    }

    .sponsored-cards-img {
        height: 136px;
        width: 123px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    /***********************************************************
    ACTIVITE A MARSEILLE
    ***********************************************************/
    .activite-marseille-section {
        width: 100%;
    }
    .activite-container{
        display: flex; 
        flex-direction: column;
        gap: 30px;
    }
    /* individual card for the activité à Marseille section */
    .activite-card {
        width: 100%;
        height: 200px; 
        outline: none;
    }
    .activite-img {
        width: inherit; 
        height: 141px;
        outline: none;
    }

    .activite-card__description {
        padding: 2px 16px;   
        line-height: 1.8;

    }
    /***********************************************************
    FOOTER 
    ***********************************************************/
    .footer-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      }
      .a-propos {
        display:grid;
        max-height: 163px;
        height: 100%;
        grid-template-columns: 1fr; 
        grid-template-rows: 72px 1fr 1fr 1fr;
      }
      .footer-content {
        display: inline-block; 
      } 

}