/* CONTENT INFORMATION

/!\Element classed from top to bottom

GENERAL : root, body, a, h1... 
MAINT CONTAINER / For Header, Main (sections) and Footer part 
HEADER, NAV, FOOTER
**style for header
INFO GROUP: research bar, filters, info... 
CARD : see the css file "css/card.css" for the card section
FOOTER 
MEDIA QUERIES: see the css file "css/media768px.css" (phones) and "media1024px.css" (tablets) for the responsive stylesheet
***********************************************************************************************************************************/

/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --light-blue: #DEEBFF; 
    --light-brown: #D9d9d9;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: var(--main-color); 
    transition: .8s;
}
a:active {
    color: var(--main-color);   
}

.fa-solid {
    color: var(--main-color);
}

/****** H1, H2, H3, H4 ***********/
h1 {
    font-size: 22px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 16px; 
    font-weight: 400;
}

/***********************************************************
 MAIN CONTAINER
 ***********************************************************/
 .main-container:not(header) {
    width: 100%;
    max-width: 1440px;
    /* min-width: 320px; */
    padding: 0 50px;
    box-sizing: border-box;
    justify-content: center;
}

/***********************************************************
 HEADER, NAV, FOOTER
 ***********************************************************/
 header {
    height: auto;
    width:100%;
    box-sizing: border-box;
    max-width: 1440px;
    min-width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    min-width: 320px;  
    width:25%;
    padding: 0;
    box-sizing: border-box;
}
footer {
    height: auto;
    box-sizing: border-box;
    max-width: 1440px;
    background-color: #f2f2f2;
    padding: 0px 50px 0px 50px;
    margin: auto;
}

/******STYLE FOR HEADER ***********/
.header__logo {
    padding: 30px 50px 30px 0px;
}
.navBar {
    display: flex;
    justify-content : space-evenly;
    flex-direction: row;
}
.navBar__btn {
    display: inline-block;
    background-color: transparent;
    box-sizing: border-box;
    border: none;
}
.navBar__btn:hover {
    color: var(--main-color);
    border-top: 3px solid var(--main-color); 
    transition: .1s;
}
.navBar__btn:active {
    color: var(--main-color); 
    border-top: 3px solid var(--main-color); 
}

/***********************************************************
 INFO GROUP : RESEARCH BAR, FILTERS, INFO   
 ***********************************************************/
 .section-container__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/****** Search bar ***********/
/* div pour la barre de recherche de la section info */
.info__searchBar {
    display: flex;
    position : relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 500px;
    justify-content: flex-start;
    align-items: center;
}
/* éléments de la barre de recherche de la section info, de droite à gauche */
.info__searchBar-mapIcon--div {
    display: inline-flex;
    background-color: #F2F2F2;
    width: 50px; 
    height: 54px;
    position: relative; 
    top: 3.5px;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0px 0px 15px;
}
#mapIcon {
    color:black;
    font-size: 22px;
}

input#searchBar__text {
    display: inline;
    height: 50px;
    border-right: none;
    border-left: none;
    border-top: 1px solid #F2F2F2; 
    border-bottom: 1px solid #F2F2F2;
    position: relative;
    margin: 0;
    left: -4px; 
    right: 0;
    color: black;
    font-weight: bold;
}
input[type="text"]::placeholder {
    color: black;
    font-size: 16px;
}
input:focus::placeholder {
    opacity: 0.1;
  }

#searchBar__submit-btn {
    display: inline;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0px 15px 15px 0px;
    height: 54px; 
    position: relative;
    margin: 0;
    left: -8px;
    bottom: 0px;
    cursor: pointer;
    text-align: center; 
    align-items: center;
    justify-content: flex-start;
    padding: 1em;
}
#searchBar__submit-btn-phone {
    display: none;
}
 /******FILTERS & FILTER BUTTONS***********/ 
 /* box/div contenant les éléments de la barre de filtres de recherches  */
.filter-box {
    height: 50px; 
    width: 758px;
    display: flex; 
    position: relative;
    align-items: center;
    justify-content: space-between; 
}
/* bouton de la barre de filtre */
.filter-btn {
    background-color: transparent; 
    padding: 4px 19px 4px 19px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid var(--light-brown);
    font-size: 17px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.filter-btn:hover {
    background-color: #DEEBFF;
    transition: 0.8s;
}
#filter-btn-icon {
    color: #0065FC;
    font-size: 22px;
    margin-right: 10px;
}
/******INFO LINE***********/
.info-box {
    display: flex; 
    align-items: center;
    font-style: italic;
    margin-bottom: 30px;
}
#info-box-icon {
    border: 1px solid var(--light-brown); 
    border-radius: 20px;
    height: 24px; 
    width: 24px; 
    font-size: 10px;
    text-align: center; 
    line-height: 19px;
    justify-content: center; 
    align-self: center;
    margin-right: 4px;
}
.filter-phone {
    display: none;
}

/***********************************************************
 CARD 
 ***********************************************************/
/* See the css file "card.css" in the /css repository for the card section.  */
/***********************************************************
 FOOTER
 ***********************************************************/
 .footer-container {
    max-width: 1440px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .a-propos {
    display:grid;
    max-height: 163px;
    height: 100%;
    grid-template-columns: 1fr; 
    grid-template-rows: 72px 1fr 1fr 1fr;
  }
  .footer-content {
    display: inline-block; 
  } 
 /***********************************************************
MEDIA QUERIES
 ***********************************************************/
/* See the css file "media.css" in the /css repository for the media queries/responsive section.  */